/* Estilos CSS para a página de compras */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #cc0000;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #660000;
    font-family: Arial, sans-serif;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: #fff;
    width: 250px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#shoppingList {
    text-align: left;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    width: 250px;
    margin: 0 auto;
}

#confirmButton {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#confirmButton:hover {
    background-color: #00688B;
}
